[Unit]
Description=Run omarchy theme changer periodically

[Timer]
# PC起動1分後に最初の処理を実行
OnBootSec=1min
# その後は5分ごとに実行
OnUnitActiveSec=2min
Unit=omarchy-theme.service

[Install]
WantedBy=timers.target
