@import "../../../../../../../.config/omarchy/current/theme/walker.css";

* {
  all: unset;
}

* {
  font-family: monospace;
  font-size: 18px;
  color: @text;
}

scrollbar {
  opacity: 0;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

.box-wrapper {
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  //background: alpha(@base, 0.95);
  //background: radial-gradient(circle at 50% 250%, alpha(darker(@base),0.9), alpha(@base,0.9)) padding-box, linear-gradient(@primary,@forground) border-box;
  background: radial-gradient(circle at 50% 250%, alpha(darker(@base),0.9), alpha(@color1,0.5)) padding-box, linear-gradient(@forground,@color4) border-box;
  padding: 20px;
  border: 2px solid @border;
  border-radius: 16px;
  opacity:0.9;
}

.preview-box {
}

.box {
}

.search-container {
  //background: @base;
  background: alpha(darker(@base),0.4);
  padding: 10px;
  border-radius: 12px;
}

.input placeholder {
  opacity: 0.5;
}

.input {
}

.input:focus,
.input:active {
  box-shadow: none;
  outline: none;
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
}

child,
child > * {
}

child:hover .item-box {
  //background: alpha(@border, 0.1);
}

child:selected .item-box {
  background: darker(alpha(@border, 0.3));
  border-radius: 12px;
}



child:selected .item-box * {
  color: @forground;
  //background: alpha(@border, 0.1);
}

.item-box {
  padding-left: 14px;
}

.item-text-box {
  all: unset;
  padding: 14px 0;
}

.item-text {
}

.item-subtext {
  font-size: 0px;
  min-height: 0px;
  margin: 0px;
  padding: 0px;
}

.item-image {
  margin-right: 14px;
  -gtk-icon-transform: scale(0.9);
}

.current {
  font-style: italic;
}

.keybind-hints {
  background: @background;
  padding: 10px;
  margin-top: 10px;
}

.preview {
  background: @background;
}
